
*
{
    text-decoration: none;
    color:black;
}
#menubar
    {
        background : peachpuff;
    }
#menubar ul { 
   margin : 0;
   padding : 0;
   width : 100%; 
}
#menubar ul li {
   display : inline-block; 
   list-style-type : none; 
   padding : 0px 15px; 
}
#menubar ul li a {
   color : black;
text-decoration : none; 
}
#menubar ul li a:hover {
    color : white;  
}

#mainfont {
    font-size:15px;
}
#idpw{
    position:relative;
    left:1428px;
    width:fit-content;
}

/*음식 아이콘 사진 설정*/

 #Mainlogo
{
    width: 150px;
    height: 150px;
    margin-left:40%;
} 

#mainBackground
{
    background-color:white;
    height: 150px;

}

#mainphoto
{
    margin-left: 40%;
}

.Korealist
{
    position:relative;
}


.Korealist-2
{
    position:absolute;
    bottom: 650px;
    left:40px;
}

table 
{
    font-size: 20px;
    width: 100;
    margin-left: 30%;

}
table tr
{
    text-align: center;
}

table tr td img /* 메뉴 사진 크기조절*/
{
    width:100px;
    height: 100px;
}

div a h1
{
    text-align: center;
}

b
{
    text-align:center;
}

